
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Data & Models (Large Files)
data/
weights/
*.pth
*.pt
*.faiss
*.pkl
*.wav
*.mp3
vector_db.pt
index.faiss

# Images
*.png
!docs/**/*.png

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
